@{
  Layout = "Shared/_Layout";
}

<div class = "container">
  <p>
    You have successfully created a contact!!!!
    @foreach(var newContact in Model)
    {
      <p>@Model.GetName()</p>
    }
    <p><a href = "/">Click here to go back!</a></p>
  </p>
</div>
