@{
  Layout = "Shared/_Layout";
}


<p>
  You have successfully created a contact!!!!
  <p>@Model.GetName()</p>
  <p>@Model.GetAddress()</p>
  <p>@Model.GetNumber()</p>
  <p><a href = "/">Click here to go back!</a></p>
</p>
