@{
  Layout = "Shared/_Layout";
}


<form action="/contacts/new" method="post" id = "input-contact">

  <p>
    <label for="new-name">What is the name?</label>
    <input type="text" id = "new-name" name="new-name">
  </p>
  <p>
    <label for="new-number">What is their Phone Number?</label>
    <input type="text" id = "new-number" name="new-number">
  </p>
  <p>
    <label for="new-address">What is their address?</label>
    <input type="text" id = "new-address" name="new-address">
  </p>

  <button type="submit" class = "btn btn-info" id = "add-contact" name="button"><span>Submit</span></button>
</form>
